@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  background: black;
  font-size: 24px;
}
